 
html { background-color: #000; } 
body {
    min-height: 100vh; 
    margin: 0 auto;
    background-color: #325993;
}  

.navbar{
  height: 100px;
}

.nav-link {
  font-size: x-large;
  color: #000;
}

a {
  color: black;
  text-decoration: #e6bc3c;
}  

p, h1, h2, h3, h5, a {
  color: rgb(230, 230, 230);
}

footer {
  background-color: #1e3373;
}

.footer-border {
  border: rgb(230, 230, 230) solid 1px;
  border-bottom: 0;
  border-top: 0;
}

.active {
  color: #000;
  font-weight: 800;
}

.index-p {
  font-size: 20px;
  max-width: 30em;
  text-align: center;
}

#logo {
  margin: 0px 0px 0px 33px;
}

.container-layer{
  padding: 2em;
}

.space {
  padding: 4em;
  margin-bottom: 11em;
}

#title {
  border-bottom: #ff4000 solid 5px;
  font-size: 43px;
  width: fit-content;
} 

/* Layers CSS code*/ 
.spacer2 {
  margin-top: 64px;
}

.spacer1 {
  padding-bottom: 3em;
}

#thermo-pic {
  margin-top: 53px;
  padding-bottom: 3em;
} 

.caption1 {
  font-size: 25px;
}

.underline {
  border-bottom: #ff4000 solid 5px;
}

@media only screen and (max-width: 1000px) { 
  .border-start{ 
    border: none !important;
    border-width : 0 !important;
    border-bottom: none !important;
  }
  .footer-border {
    background-color: #8398d7;
    border: solid rgb(230, 230, 230);
    color: #000;
  }

  footer > p {
    color: #000;
  } 

  #profile-image {
    width: 100%;
  } 
 
}

/* Sources Page */

.text-container {
  background-color: #1e3373;
  color: rgb(230, 230, 230);
  border-radius: 11px;
  max-width: 700px;
  padding: 1.5em;
  font-size: 22px;
}

.text-container:hover {
  color:#e8c65b;
}

.open-text {
  background-color: #1e3373;
  border-radius: 11px;
  margin: 1.5em;
  padding: 25px;
}
 
/* Code for media horizontal slider */
 
.surroundContainer {
  white-space: nowrap;
  overflow: auto;
}

img {
  padding-right: 4em;
}  

 
 