 
html { background-color: #000; } 
body {
    min-height: 100vh; 
    margin: 0 auto;
    background-color: #325993;
}  

footer {
  background-color: #1e3373;
}

 footer a {
  text-decoration:none; 
}

a:hover {
  color:#ffee32; 
  text-decoration:none; 
  cursor:pointer;  
}

.footer-border {
  border: rgb(230, 230, 230) solid 1px;
  border-bottom: 0;
  border-top: 0;
}

.active {
  font-weight: 800;
}

.underline {
  border-bottom: #ff4000 solid 5px;
}
 
/* Code for media horizontal slider */
.surroundContainer {
  white-space: nowrap;
  overflow: auto;
  margin-top: 10rem;
} 
 
/* Concerning footer's borders */
@media only screen and (max-width: 1000px) { 
  .border-start{ 
    border: none !important;
    border-width : 0 !important;
    border-bottom: none !important;
  } 
}